.main-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    & header {
        width: 100%;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
        z-index: 5;
    }
    & main {
        flex: 1 0 auto;
        background-color: #fafafa;
    }
    & footer {
        z-index: 5;
        border-top: solid 1px rgba(0,0,0,.12);
    }
}

// :host {
//     display: flex;
//     height: 100%;
// }

.nav-container {
    width: 100%;
    display: flex;
    height: 100%;
    &__sidenav-drawer {
        width: 270px;
    }
    &__sidenav-content {
        width: 100%;
        padding: 16px 0;
    }
    &__list-divider {
        margin: 8px 0 0;
        height: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
}

.mat-nav-list a.active {
    background: rgba(0,0,0,.1);
}