<upper title="Profile"></upper>

<div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
        <h3>User information:</h3>
        <p>
            <strong>First name:</strong><br>
            {{user.firstName}}
        </p>
        <p>
            <strong>Last name:</strong><br>
            {{user.lastName}}
        </p>
        <p>
            <strong>Email:</strong><br>
            {{user.email}}
        </p>
    </div>
    <div class="col">
        <h3>Purchase history:</h3>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <mat-accordion *ngIf="purchases.length > 0">
            <mat-expansion-panel *ngFor="let purchase of purchases">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ purchase.date | date: 'medium' }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <order [cart]="purchase.products" [currency]="currencyState" [totalPrice]="getTotalPrice(purchase.products)"></order>
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="!loading && purchases.length === 0" class="text-center">
            You have not made any orders yet.
        </div>
    </div>
</div>
  