<div *ngFor="let item of cart">
    <div class="d-flex justify-content-between w-100">
        <div>
            <div class="mt-3 mb-3 h6"><span>{{item.product.name}}</span> <span class="ml-4">x{{item.quantity}}</span></div>
            <p> {{item.product.description}}</p>
        </div>
        <div class="price-col">
            <div class="mt-3 mb-3 h6">{{ (item.product.price*item.quantity) | price: currency }}</div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div>
    <div class="d-flex justify-content-between w-100">
        <div>
            <div class="mt-3 mb-3 h6"><span>Сost of delivery:</span></div>
        </div>
        <div class="price-col">
            <div class="mt-3 mb-3 h6">{{ (2.99) | price: currency }}</div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div>
    <div class="d-flex justify-content-between w-100">
        <div>
            <div class="mt-3 h6"><span>Total price:</span></div>
        </div>
        <div class="price-col">
            <div class="mt-3 h6">{{ totalPrice | price: currency }}</div>
        </div>
    </div>
</div>