<mat-card class="login-container">
    <mat-card-content>
    
        <h3>Login</h3>

        <form (keyup.enter)="login()">

            <mat-form-field class="login-container__field" appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput type="text" autocomplete="off" name="username" [(ngModel)]="authData.email" [formControl]="usernameControl">
                <mat-error *ngIf="usernameControl.invalid">Please enter at least 3 characters</mat-error>
            </mat-form-field>

            <mat-form-field class="login-container__field" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" name="password" [(ngModel)]="authData.password" [formControl]="passwordControl">
                <button mat-icon-button matSuffix (mouseup)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="passwordControl.invalid">Please enter at least 3 characters</mat-error>
            </mat-form-field>

            <div class="login-container__field">
                <button [disabled]="loading" mat-flat-button color="accent" (click)="login()">
                    <span *ngIf="loading">Processing...</span>
                    <span *ngIf="!loading">Login</span>
                </button>
            </div>
            <mat-error *ngIf="error">Login incorrect</mat-error>


      </form>

    </mat-card-content>
</mat-card>
