<upper title="Menu"></upper>
<mat-form-field>
  <mat-label>Sorting</mat-label>
  <mat-select [(value)]="selectedSort" (selectionChange)="changeSort($event)">
    <mat-option *ngFor="let item of sort" [value]="item.value">
      {{item.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="loading" class="d-flex justify-content-center m-4">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <div *ngFor="let pizza of pizzas" class="col mb-4">
      <product-item [product]="pizza"
                    [hideButton]="isConteins(pizza)"
                    [currency]="currencyState"
                    [addMethod]="addToCart.bind(this)"></product-item>
    </div>
</div>
