/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon {
    opacity: .6;
    margin-right: 32px;
}

.margin {
    &-left {
        margin-left: 8px !important;
    }
    &-right {
        margin-right: 8px !important;
    }
}