<mat-card>
    <img mat-card-image [src]="product.img" [alt]="product.name">
    <mat-card-content>
      <h3>{{ product.name }}</h3>
      <p class="description-product">{{ product.description }}</p>
      <h2>{{ product.price | price: currency }}</h2>
    </mat-card-content>
    <mat-card-actions>
      <button class="w-100"
              mat-raised-button color="accent"
              [disabled]="hideButton"
              (click)="addMethod(product)">Add to cart</button>
    </mat-card-actions>
  </mat-card>
  